/* GENERAL UNIVERSAL */
/* ---------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Press+Start+2P&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: poppins;
    background-color: rgb(85, 85, 85);
}

h1 {
    color: white;
    font-size: 48px;
    font-family: "Press Start 2P";
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 10px;
}

span {
    font-size: 14px;
    font-family: "Press Start 2P";
    opacity: .2;
}
/* ---------------------------------------------------------------------- */

/* background and containers styling */
/* ---------------------------------------------------------------------- */
.card-background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(177, 150, 98);
    box-shadow: 5px 5px 25px;
}

.right-container, .left-container {
    /* background-color: bisque; */
    border-radius: 20px;
    height: 400px;
    margin: 50px;
}
/* ---------------------------------------------------------------------- */

/* game container styling */
/* ---------------------------------------------------------------------- */
.left-container {
    width: 200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points {
    font-size: 24px;
    font-weight: 600;
}

.kiwi {
    height: 200px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 10px;
    border: rgb(84, 66, 47) solid 5px;
    box-shadow: 10px 10px 60px inset rgb(84, 66, 47);
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.brown, .green, .pink, .black, .red {
    height: 40px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(84, 66, 47);
}

.brown {
    background-color: rgb(91, 63, 34);
}
.green {
    background-color: rgb(0, 129, 24);
}
.pink {
    background-color: rgb(255, 135, 249);
}
.black {
    background-color: rgb(0, 0, 0);
}
.red {
    background-color: rgb(255, 0, 0);
}


/* ---------------------------------------------------------------------- */

/* container styling */
/* ---------------------------------------------------------------------- */
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 300ms ease;
}
/* btn styling */
.btn:hover {
    background-color: rgb(65, 102, 59);
    color: white;
}


/* ---------------------------------------------------------------------- */

/* inner styling */
/* ---------------------------------------------------------------------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    width: 200px;
    padding: 0 5px;
}

.btn-text {
    font-size: 14px;
    font-weight: 600;
}

.details {
    font-size: 8px;
    opacity: .2;
    text-align: center;
}

.leftInner, .rightInner {
    width: 50px;
}

.leftInner {
    text-align: left;
}


